
<template>
  <main class="container" style="padding-top: 1.5em; padding-bottom: 1.5em;">
    <div class="flex field flex-wrap">
      <h1 class="flex-1">Benutzereinstellungen</h1>
       <button class="button-primary" v-on:click="logout()" v-if="me">Abmelden</button>
       &nbsp;
      <button class="button-primary" v-on:click="changeUser()" v-if="!readOnly">Speichern</button>
      <router-link tag="button" class="button-primary" :to="$route.path + '/edit'" v-if="(me || showadmin) && readOnly">Bearbeiten</router-link>
    </div>

    <div>
      <button class="button-block success disabled" v-show="saved" ref="saved">
        Änderungen wurden gespeichert.
      </button>
    </div>

    <div style="height: 5em; display: flex; align-items: center; justify-content: center;" v-show="loading">
      <div class="spinner spinner-xxl"></div>
    </div>

    <!--Name-->
    <div class="field">
      <h4>Name:</h4>
      <input type="text" v-model.lazy="user.name" :class="{'disabled': readOnly}">
       </div>
    <!--Email-->
    <div class="field">
      <h4>E-Mail:</h4>
    <input v-model.lazy="user.mail" :class="{'disabled': readOnly}">
    </div>
    <!--Passwort ändern -->
    <div class="field" v-if="!readOnly">
      <h4>Passwort ändern:</h4>
       <input type="password" v-model="new_Password" placeholder="Neues Passwort eingeben">
       
        <input type="password" v-model="r_new_Password" placeholder="Erneut neues Passwort eingeben">
     </div>
     <div v-show="showadmin" class="field">
      <label class="control checkbox" :class="{'disabledCheck': readOnly}">
        <h4> Admin:</h4>
           <input type="checkbox" v-model="Adminflag" name="checkbox" >
        <span class="control-indicator" style="margin-left: 0.5em;"></span>
      </label>
      </div>

    <div class="field" v-if="!readOnly">
      <h4>Änderungen mit deinem Passwort bestätigen:</h4>
       <input type="password" v-model="actual_Password" placeholder="Aktuelles Passwort eingeben">
    </div>

     <div class="field" v-if="!readOnly">
      <button class="button-primary" v-on:click="changeUser()">Speichern</button>
     </div>

    <hr class="divider" v-if="me || (!readOnly || showadmin)">

    <!--Abmelden-->
    <div class="field" v-if="me">
        <h4>Abmelden:</h4>
        <button class="button-primary" v-on:click="logoutAll()">Abmelden auf allen Geräten!</button>
      </div>

    <!--Account löschen-->
    <div class="field" v-if="!readOnly && (me || showadmin)">
      <h4>Account:</h4>
      <button class="button error" v-on:click="deleteUser()">Account löschen</button>
        </div>

   </main>
   </template>

<script>
export default {
  props: {
    readOnly: Boolean
    },
  data() {
    setTimeout(() => this.load());
    return {
      user: {},
      originalUser: {},
      new_Password: "",
      r_new_Password:"",
      Adminflag: false,
      showadmin: false,
      actual_Password:"",
      guest: false,
      me: false,
      saved: false,
      loading: false, 
      };
  },
  methods: {
    // Laden des Nutzers aus dem Backend mit der gegebenen ID (es wird auch 'me' akzeptiert)
    async load() {
      this.loading = true;
      let req = await this.loadUser("me");
      let dis = await this.loadUser(this.$route.params.id);

      if (dis.status == 404) router.push("/404");

      if (dis.status == 401) router.push("/login");

      //testen ob der nutzer sich selber bearbeiten will:
      if (req.user_id == dis.user_id) this.me = true;

      //Wenn ich einen anderen Nutzer bearbeiten will, testen ob ich admin rechte habe
      if (!this.me && req.admin_flag != 2 && !this.readOnly) {alert("Du hast keine Rechte um diesen Nutzer zu bearbeiten!"); router.push(this.$route.path.replace("/edit", ""));}

      //Nutzerdaten in Globale Variable laden
      this.user = dis;
      this.originalUser = dis;

      //Checkbox entsprechend der rechte setzen
      this.Adminflag = ((this.user.admin_flag == 2 )? true: false);
      
      // Zeige ELemente nur für Admins
      this.showadmin = ((req.admin_flag == 2)? true:false);
      
      if (req == null || req.status == 401) this.guest = true;
      this.loading = false;
    },
    //Läd eine Nutzer entsprechen der id aus dem Backend, wenn login true ist, wird der Nutzer, wenn er keine Rechte hat auf die Login Seite umgeleitet
    async loadUser(id) {
      let r = await window.api.GET("/api/users/user/" + encodeURIComponent(id));
        if (r.status == 401) return {status: r.status};
        if (r.status == 404) return {status: r.status};
        if (!r.ok || !r.content) {alert("Fehler:\n" + r.status + " " +r.content); return}
        r.content.status = r.status
        return r.content;
    },
    //Logge den Nutzer vom aktuellen Gerät aus
    async logout() {
      let res = await api.GET("/api/users/logout");
      if (res.status != 202) {
        alert("Logout fehlgeschlagen\n" + res.content);
        return;
         }
      else alert("Sie sind nun abgemeldet.")
      router.push("/");
      this.$parent.load();
    },
    // Speichern des Bearbeiteten Nutzer
    async changeUser() {
      this.saved = false;
      this.loading = true;
      if (this.actual_Password == "") {
        alert ("please enter your password for verfication")
        return;
      } 
      // Passwort wird nicht geändert
      if (this.new_Password== "" && this.r_new_Password=="") { 
        let res = await api.PUT("/api/users/user/"+ encodeURIComponent(this.user.user_id), 
          {
            name: this.user.name,
            mail: this.user.mail,
            password: this.actual_Password,
            admin_flag: this.Adminflag ? 2 : 1
          });
        if (res.status != 200) alert("change failed\n" + res.content);
        else {
          if (this.originalUser.mail != this.user.mail){
            localStorage.removeItem("hash");
            this.$parent.username = null;
            this.$parent.username = "";
            router.push("/login");
          }
          this.loading = false;
          this.saved = true;
          setTimeout(() => this.$refs.saved.getBoundingClientRect().top >= 0 || this.$refs.saved.scrollIntoView());
          this.$parent.username = this.user.name;
        }

      // Passwort wird geändert
      } else if (this.new_Password == this.r_new_Password){
        let res = await api.PUT("/api/users/user/"+ encodeURIComponent(this.user.user_id), 
          {
            name: this.user.name,
            mail: this.user.mail,
            password: this.actual_Password,
            newpassword: this.new_Password, 
            admin_flag: this.Adminflag ? 2 : 1
          });
        if (res.status != 200) alert("frontend says change failed\n" + res.content);
        else {
          localStorage.removeItem("hash");
          this.$parent.username = null;
          this.$parent.username = "";
          router.push("/login");
        }
      // Passwort wurde geändert, stimmt aber nicht überein
      }else alert("Password did not match\n");
    },
    // Von allen Geräten abmelden
    async logoutAll() {
      let re = await api.GET("/api/users/logout?all=1")
      if (re.status != 202) alert("log out on all devices failed"+ re.content) 
      else alert("you are now logged off everywhere. Please log in again")
      router.push("/");
    },
    // Nutzer löschen
    async deleteUser() {
      if (confirm("Möchtest du wirklich den Nutzer löschen?")) {
        let r = await window.api.DELETE("/api/users/user/"+ encodeURIComponent(this.user.user_id)); 
        if (!r.ok) alert(r.status + " " + r.content);
        router.push("/users")
      }
    },
  async beforeRouteUpdate(to, from, next) {
    await this.load();
    return next();
    }
  }
};
</script>

<style>
.disabled {
  pointer-events: none;
  background-color: #f1f1f1;
}
.disabledCheck {
  pointer-events: none;
}
</style>
