<template>
  <main class="container padding-vertical-xs">
    <div class="flex">
      <h1 class="flex-1">Benutzerliste</h1>
      
      <!-- Button User bearbeiten-->
      <div class="field" v-if="!loading&&editButton">
        <router-link to="/users/me/edit" tag="button" class="button-primary info">Mich bearbeiten</router-link>
      </div>
    </div>

     <div style="height: 5em; display: flex; align-items: center; justify-content: center;" v-if="loading">
      <div class="spinner spinner-xxl"></div>
    </div>

    <!-- Button User hinzufügen-->
    <div class="field" v-if="!loading&&newButton">
      <router-link to="/users/new" tag="button" class="button-primary">Benutzer hinzufügen</router-link>
    </div>

   

    <!-- Tabelle mit User-->
    <div v-if="!loading">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Admin</th>
          <th v-if="showCol" style="width: 1px"></th>
        </tr>

        <!-- User aus Datenbank holen und dann jeweils in die jeweilige Spalte hinzufügen-->
        <tr
          v-for="user in userlist"
          v-bind:key="user.user_id"
          v-show="user.name.toLowerCase().indexOf(search.toLowerCase())>-1"
        >
          <td>{{user.user_id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.mail}}</td>
          <td>{{user.admin_flag==2 ? "Ja" : "Nein" }}</td>
          <td v-if="showCol" style="white-space: nowrap">
            <router-link tag="button" :to="edit(user.user_id)" class="button info">
              <i class="fas fa-pencil-alt"></i>
            </router-link>
            <button @click="warning(user.user_id)" class="button error">
              <i class="fas fa-trash-alt"></i>
            </button>
            
          </td>
        </tr>
      </table>
    </div>

     
  </main>
</template>

<script>
export default {
  props: {
    search: String
  },
  data() {
    setTimeout(() => this.load()); //Load bei start ausführen
    return {
      userlist: null,
      loading: false,
      showCol: false,
      editButton: false,
      newButton: false,
    };
  },

  methods: {
    //Laden der Userlist von der API
    async load() {
      //Nutzerliste laden
      this.loading = true;
      let r = await api.GET("/api/users/user");
      if (r.ok) {
        this.userlist = r.content;
      } else {
        if (r.status == 401) router.push("/login");
        else alert("Error: " + r.content)
      }

      console.log(window.user.admin_flag);
      //Info über Angemeldeten Nutzer anwenden
      if (window.user.admin_flag == 2) {
        this.newButton = true;
        this.showCol = true;
      }
      if (window.user.admin_flag == 1) {
        this.editButton = true;
      }

      //Anzeigen
      this.loading = false
    },
    async userdelete(id) {
      let r = await api.DELETE(
        "/api/users/user/" + encodeURIComponent(id)
      ); //TODO Token mitsenden
      if (!r.ok) {
        alert(r.status + " " + r.content);
      }
      this.load();
    },
    warning(id) {
      var r = confirm("Wollen sie wirklich löschen?");
      if (r == true) {
        this.userdelete(id);
      }
    },
    edit(id) {
      return "/users/" + encodeURIComponent(id) + "/edit";
    }
  },
  async beforeRouteUpdate(to, from, next) {
    await this.load();
    return next();
  }
};
</script>
