<template>
  <main class="container padding-vertical-xs">
    <h1>Nutzer erstellen</h1>
    <div v-if="Credentials">
      <hr>
      <h3>Daten für den neuen Nutzer</h3>
      <p>
        <strong>Mail:</strong>
        <code
          style="background-color: LightGrey; padding: 0.1em 0.5em; margin-left: 1em "
        >{{Credentials.mail}}</code>
      </p>
      <p>
        <strong>Passwort:</strong>
        <code
          style="background-color: LightGrey; padding: 0.1em 0.5em; margin-left: 0.4em "
        >{{Credentials.password}}</code>
      </p>
      <p>
        Die Daten werden hier im Klartext angezeigt, da keine Daten für eine Mailserver hinterlegt sind. Wenn Sie die Daten
        lieber per E-Mail an den Nutzer senden lassen wollen, kontaktieren sie bitte ihren Admin und lassen Sie Ihn die entsprechenden
        Umgebungsvariablen setzen.
      </p>
      <router-link to="/users" tag="button" class="button info">
          Zurück zur Nutzerliste
      </router-link>
    </div>
    <div v-show="!Credentials">
      <div class="field">
        <h4>Mail:</h4>
        <input type="text" name="mail" v-model="Mail">
      </div>
      <div class="field">
        <h4>Anzeigename:</h4>
        <input type="text" name="username" v-model="Name">
      </div>
      <div class="field">
        <label class="control checkbox">
          <h4>Admin:</h4>
          <input type="checkbox" v-model="Adminflag" name="checkbox" checked>
          <span class="control-indicator" style="margin-left: 0.5em;"></span>
        </label>
      </div>
      <div class="field">
        <button class="button-primary" v-on:click="send">hinzufügen</button>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    setTimeout(() => this.test());
    return { Name: "", Mail: "", Adminflag: false, Credentials: null };
  },
  methods: {
    async send() {
      var r = await window.api.POST("/api/users/user", {
        name: this.Name,
        mail: this.Mail,
        admin_flag: this.Adminflag ? 2 : 1 //1=normaler Nutzer 2=Admin
      });
      if (!r.ok) alert(r.status + " " + r.content);
      if (r.content.redirect) router.push("/users");
      this.Credentials = r.content;
      this.ShowCredentials = true;
    },
    async test() {
    let r = await api.GET("/api/users/user/me");
    if (!r.ok) router.push("/login");
    if (r.content.admin_flag == 1) router.push("/users");
    }
  },
};
</script>
