<template>
  <main class="container padding-vertical-xs">
    <h3>Login</h3>
    <div class="field">
      <h5>E-Mail-Adresse</h5>
      <input type="text" v-model="mail" class="_input" @keypress.enter="setFocusPW()">
    </div>
    <div class="field">
      <h5>Passwort</h5>
      <input
        type="password"
        v-model="password"
        class="_input"
        @keypress.enter="login()"
        id="password"
      >
    </div>
    <!--<div>
      <h5>
        <a>Passwort vergessen?</a>
      </h5>
    </div>-->
    <div class="field">
      <button class="button-primary button button-s" v-on:click="login()">Anmelden</button>
    </div>
  </main>
</template>
<script>
export default {
  data() {
    return {
      mail: "",
      password: ""
    };
  },
  async beforeCreate() {
    try {
      const r = await api.GET("/api/users/user/me");
      if (r.ok) window.user = r.content;
      else window.user = null;
    } catch (e) {
      window.user = null;
    }
    if (window.user) router.push("/");
  },
  methods: {
    setFocusPW() {
      document.getElementById("password").focus();
    },
    async login() {
      let res = await api.POST("/api/users/login", {
        mail: this.mail,
        password: this.password
      });
      if (res.status != 200) {
        alert("Login failed\n" + res.content);
        return;
      }

      localStorage.setItem("hash", res.content.hash);
      api.options.headers.Authorization = "Bearer " + res.content.hash;

      router.push("/");
      this.$parent.load();
      //location.reload();
    }
  }
};
</script>
